@import 'header.less';
@import 'menu.less';
@import 'section.less';
@import 'products.less';
@import 'nav.less';
@import 'media-queries.less';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: #colors[font-family];
}