body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #taskContainer {
    text-align: center;
  }
  
  #taskForm {
    margin-bottom: 20px;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  #taskList li {
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  